.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about__title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
}

.about__description {
  max-width: 60ch;
  font-size: var(--size-s);
  color: var(--clr-secondary);
}

.about__hr {
  border-color: var(--clr-tertiary);
}

.about__subtitle {
  font-size: var(--size-s);
  color: var(--clr-main);
}

.about__ul-container {
  display: flex;
}

.about__ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  /* border: 1px solid red; */
}

.about__list {
  height: 180px;
  width: max(100%, 18.75rem);
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: var(--size-s);
  color: var(--clr-secondary);
  /* border: 1px solid red; */
}

.about__list img {
  height: 100%;
}

.about__list p {
  width: 100%;
  display: block;
  text-align: center;
}

/* xs */
@media (min-width: 475px) {
  .about {
    gap: 1.5rem;
  }
  
  .about__content {
    gap: 1.5rem;
  }
  
  .about__title {
    font-size: var(--size-3xl);
  }
  
  .about__description {
    font-size: var(--size-base);
  }
  
  .about__subtitle {
    font-size: var(--size-base);
  }
  
  .about__list {
    font-size: var(--size-base);
  }
}
/* s */
@media (min-width: 640px) {
  .about__img-wrapper {
    margin: 0 auto;
  }
  .about__img {
     width: 27.4375rem
  }
}
/* m */
@media (min-width: 768px) {
  .about__img {
    width: 32rem
 }
}
/* l */
@media (min-width: 1024px) {
  .about {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .about__title {
    font-size: var(--size-4xl);
  }
  
  .about__description {
    font-size: var(--size-l);
  }
  
  .about__subtitle {
    font-size: var(--size-l);
  }
  
  .about__list {
    font-size: var(--size-l);
  }
}
/* xl */
@media (min-width: 1280px) {
  .about__content {
    gap: 2rem;
  }
  
  .about__title {
    font-size: var(--size-5xl);
  }

  .about__description {
    font-size: var(--size-xl);
  }
  
  .about__subtitle {
    font-size: var(--size-xl);
  }
  
  .about__list {
    font-size: var(--size-xl);
  }

  .about__img {
    width: 41rem;
  }
}
/* xxl */
@media (min-width: 1536px) {
  .about__title {
    font-size: var(--size-6xl);
  }
  
  .about__description {
    font-size: var(--size-2xl);
  }
  
  .about__subtitle {
    font-size: var(--size-2xl);
  }
  
  .about__list {
    font-size: var(--size-2xl);
  }

  .about__img {
    width: 50rem;
  }
}