.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.contact__title {
  font-size: var(--size-2xl);
  color: var(--vlr-light);
  text-transform: capitalize;
}

.contact__description {
  font-size: var(--size-s);
  color: var(--clr-secondary);
  max-width: 60ch;
}


.contact__socials a {
  text-decoration: none;
  color: var(--clr-primary);
}
.contact__socials a:hover {
  color: var(--clr-rose);
}


.contact__btn {
  font-size: var(--size-s);
}

@media (min-width: 1px) {
  .contact__socials {
    padding: 0.75rem;
    display: flex;
    gap: 1.5rem;
    border-radius: 50px;
    background-color: rgb(199, 199, 199);
  }
  .contact__socials-item {
    width: 2rem;
    height: 2rem;
  }
}

/* xs */
@media (min-width: 475px) {
  .contact {
    gap: 1.5rem;
  }
  
  .contact__title {
    font-size: var(--size-3xl);
  }
  
  .contact__description {
    font-size: var(--size-base);
  }
  
  .contact__btn {
    font-size: var(--size-base);
  }
}
/* s */
/* @media (min-width: 640px) {} */
/* m */
/* @media (min-width: 768px) {} */
/* l */
@media (min-width: 1024px) {  
  .contact__title {
    font-size: var(--size-4xl);
  }
  
  .contact__description {
    font-size: var(--size-l);
  }
  
  .contact__btn {
    font-size: var(--size-l);
  }

  .contact__socials {
    padding: 1rem;
    gap: 2rem;
  }
  .contact__socials-item {
    width: 3rem;
    height: 3rem;
  }
}
/* xl */
@media (min-width: 1280px) {
    .contact {
    gap: 2rem;
  }
  
  .contact__title {
    font-size: var(--size-5xl);
  }
  
  .contact__description {
    font-size: var(--size-xl);
  }
  
  .contact__btn {
    font-size: var(--size-xl);
  }
}
/* xxl */
/* @media (min-width: 1536px) {} */