@keyframes wave {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(14deg); }
  30% { transform: rotate(-8deg); }
  45% { transform: rotate(14deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

/* default */
@media (min-width: 1px) {
  .hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* margin-top: var(--size-xl); */
  }
  
  .hero__img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: inline-block;
  }
  
  .hero__subtitle {
    color: var(--clr-tertiary);
    font-size: var(--size-base);
    line-height: 0.9;
  }

  .hero__subtitle:hover .hero__subtitle-wave {
    animation: wave 1s ease-in-out;

  }

  .hero__subtitle-wave {
    display: inline-block;
    transform-origin: 70% 70%; /* pivot point to make it wave naturally */
  }
  
  .hero__title {
    color: var(--clr-secondary);
    text-transform: uppercase;
    font-family: 'Figtree', sans-serif;
    font-size: var(--size-4xl);
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 0.9;
  }
  
  .hero__description {
    max-width: 60ch;
    font-size: var(--size-s);
    color: var(--clr-secondary);
  }

  .hero__actions {
    display: flex;
    gap: 0.5rem;
  }
  
  .hero__btn {
    text-transform: capitalize;
    font-size: var(--size-s);
  }
}

/* xs */
@media (min-width: 475px) {
  .hero {
    gap: 1.5rem;
  }
  
  .hero__img {
    width: 6.5rem;
    height: 6.5rem;
  }
  
  .hero__subtitle {
    font-size: var(--size-l);
  }
  
  .hero__title {
    font-size: var(--size-5xl);
  }
  
  .hero__description {
    font-size: var(--size-base);
  }
  
  .hero__btn {
    font-size: var(--size-base);
  }
}
/* s */
@media (min-width: 640px) {
  .hero__title {
    font-weight: 800;
  }
}
/* m */
@media (min-width: 768px) {
  .hero__actions {
    gap: 1rem;
  }
  .hero__title {
    font-size: var(--size-6xl);
  }
}
/* l */
@media (min-width: 1024px) {
  .hero {
    gap: 1.5rem;
  }
  
  .hero__img {
    width: 8rem;
    height: 8rem;
  }
  
  .hero__subtitle {
    font-size: var(--size-2xl);
  }
  
  .hero__title {
    font-size: var(--size-7xl);
  }
  
  .hero__description {
    font-size: var(--size-l);
  }
  
  .hero__btn {
    font-size: var(--size-l);
  }
}
/* xl */
@media (min-width: 1280px) {
  .hero {
    gap: 2rem;
  }
  
  .hero__img {
    width: 10rem;
    height: 10rem;
  }
  
  .hero__subtitle {
    font-size: var(--size-4xl);
  }
  
  .hero__title {
    font-size: var(--size-8xl);
    /* letter-spacing: 0.05rem; */
  }
  
  .hero__description {
    font-size: var(--size-xl);
  }
  
  .hero__btn {
    font-size: var(--size-xl);
  }
}
/* xxl */
@media (min-width: 1536px) {
  .hero__title {
    font-size: var(--size-9xl);
  }
}