.loader-wrapper{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.imageSpin{
  width: 10rem;
  aspect-ratio: 2 / 2;
  object-fit: cover;
  
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  
  /*  Multiple Broser  */
  -webkit-animation-name: spin;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
}

@keyframes spin{
  from{
    transform: rotateY(0deg);
    
    /*   Multiple Brosers   */
    moz-transform: rotateY(0deg);
    ms-transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
    
    /*   Multiple Brosers   */
    moz-transform: rotateY(360deg);
    ms-transform: rotateY(360deg);
  }
}

@-webkit-keyframes spin{
  from{-webkit-transform: rotateY(0deg);}
  to{-webkit-transform: rotateY(360deg);}
}

/* xs */
/* @media (min-width: 475px) {} */
/* s */
/* @media (min-width: 640px) {} */
/* m */
/* @media (min-width: 768px) {} */
/* l */
@media (min-width: 1024px) {
  .imageSpin{
    width: 20rem;
  }
}
/* xl */
/* @media (min-width: 1280px) {} */
/* xxl */
/* @media (min-width: 1536px) {} */