@import url('https://fonts.google.com/specimen/Inter');
/* font-family: 'Inter', Arial, Helvetica, sans-serif;  */

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  position: relative;
}

body {
  height: 100vh;
  margin: 90px 400px 0px 400px;
  overflow: hidden;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 50px;
}

header ul {
  display: flex;
  align-items: center;
}

header ul li { /* Design the link's space */
    list-style: none;
    display: inline-block; /* Spreads the links into columns */
    margin: 0 20px;
    position: relative; /* This will parent the ::after */
  }

header ul li a {
  text-decoration: none;
  color: rgb(80, 94, 121);
  font-weight: 400;
}

header ul li a:hover {
  color: orange
}

main {
  height: 50vh;
  display: flex;
  gap: 30px;
}

section {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#img1 {
  max-width: 100%;
}

#subSection {
  display: flex;
  gap: 50px;
}

#subSection h1 {
  width: 100%;
  font-family: 'Inter', Arial;
  font-size: 3.4375rem;
  font-weight: 800;
  line-height: 55px;
}

#subContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

#subContent p {
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 25px;
  color: rgb(80, 94, 121);
}

#subContent a {
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Inter';
  font-size: 0.75rem;
  letter-spacing: 5px;
  color: white;
  background-color: black;
  position: absolute;
  bottom: -15px;
}

#subContent a:hover {
  background-color: rgb(255, 81, 0);
  border: none;
  cursor: pointer;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  width: 26%;
  background-color: rgb(16, 21, 37);
}

aside h1 {
  font-size: 2.625rem;
  color: rgb(212, 168, 84);
}

aside h2 {
  font-size: 1.25rem;
  margin-top: 20px;
  margin-bottom: 15px;
  color: aliceblue;
}

aside h2:hover {
  color: rgb(212, 168, 84);
  cursor: pointer;
}

aside p {
  font-size: 0.9375rem;
  margin-bottom: 20px;
  line-height: 20px;
  color: hsla(36, 100%, 99%, 0.623);
}

hr {
  color: hsla(36, 100%, 99%, 0.623);
}

.articles {
  height: 8rem;
  width: 98.5%;
  display: flex;
  margin-top: 70px;

  justify-content: space-between;
}

.longCard {
  width: 350px;
  display: flex;
  gap: 25px;
}

.longCard img {
  max-height: 100%;
}

.longCard div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.longCard div h1 {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: hsl(0, 0%, 69%);
}

.longCard div p {
  line-height: 25px;
  color: hsl(0, 0%, 37%);
}

.longCard div h2:hover {
  color: rgb(255, 81, 0);
  cursor: pointer;
}

.attribution {
  height: 3vh;
  width: 98%;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #232323;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.attribution p {
  font-size: 0.9375rem;
}

.attribution p a:visited {
  color: rgb(23, 226, 23);
}

.attribution .phone {
  display: none;
}

.web {
  display: block;
}

.phone {
  display: none;
}

@media screen and (max-width: 1440px) {
  body {
    margin: 90px 200px 0px 200px;
  }
}

@media screen and (max-width: 420px) {
  .web {
    display: none;
  }

  .phone {
    display: block;
  }

  body {
    height: 205vh;
    margin: 40px 20px 20px 20px;
    overflow: visible;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 40px;
  }

  header ul {
    align-items: flex-start;
  }

  header ul li { /* Design the link's space */
    list-style: none;
    display: inline-block; /* Spreads the links into columns */
    margin: 0 20px;
    position: relative; /* This will parent the ::after */
  }

  main {
    height: 130vh;
    flex-direction: column;
  }

  section {
    width: 100%;
  }

  #subSection {
    max-width: 45vh;
    flex-direction: column;
    gap: 25px;
  }

  #subSection h1 {
    width: 40vh;
    font-size: 2.8125rem;
    line-height: 45px;
  }

  #subSection div p {
    width: 40vh;
  }

  #subContent {
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  #subContent p {
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 25px;
    color: rgb(80, 94, 121);
  }
  
  #subContent a {
    height: 50px;
    width: 50%;
  }

  aside {
    height: 100vh;
    width: 35vh;
    margin-top: 30px;
  }

  .articles {
    height: 50vh;
    width: 98.5%;
    flex-direction: column;
    margin-top: 130px;
  
    justify-content: space-between;
  }

  .longCard {
    width: 100%;
    display: flex;
    gap: 25px;
  }
  
  .longCard img {
    max-height: 100%;
    width: 100px;
  }

  .attribution {
    display: none;
  }
}