@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
/* font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;

  --clr-red:hsl(0, 78%, 62%);
  --clr-cyan:hsl(180, 62%, 55%);
  --clr-orange:hsl(34, 97%, 64%);
  --clr-blue:hsl(212, 86%, 64%);

  --clr-veryDarkBlue:hsl(234, 12%, 34%);
  --clr-grayishBlue:hsl(229, 6%, 66%);
  --clr-veryLightGray:hsl(0, 0%, 98%);
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

main {
  margin-top: 110px;
  width: 1112px;
  height: 770px;
  background-color: antiquewhite;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature__title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature__title {
  font-size: 2.43rem;
  font-weight: 200;
}

.feature__subtitle {
  line-height: 50px;
  font-size: 2.43rem;
}

.feature__description {
  width: 55ch;
  margin-top: 1.2em;
  font-size: 1.01em;
}


/* Feature Cards */
.feature__card-container {
  width: 100%;
  margin-top: 66px;
  display: grid;
  gap: 1.9rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 112px 112px 112px 112px;

  background-color: violet;
}

.card {
  padding: 2rem;
  background-color: #232323;
}
.card1 {
  grid-column: 2/3;
  grid-row: 1/3;
  background-color: aquamarine;
}
.card2 {
  grid-column: ;
}


/* Attribution Section */
.attribution {
  width: 100%;
  height: 3vh;
  padding: 0 20px 0 20px;
  
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #232323;
  color: #fff;
  overflow: hidden;
}
.attribution p {
  font-size: 0.9375rem;
}
.attribution p a { color: deeppink; }
.attribution p a:hover { color: rgb(63, 20, 255); }
.attribution p a:visited { color: rgb(23, 226, 23); }
.attribution p a:visited:hover { color: rgb(63, 20, 255); }