@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

* {
  font-family: 'Poppins', sans-serif;

  --weight-400i: 400, 1;
  --weight-700i: 700, 1;
  --weight-800: 800;

  --clr-purple: hsl(259, 100%, 65%);
  --clr-lightred: hsl(0, 100%, 67%);

  --clr-light: hsl(0, 0%, 100%);
  --clr-offlight: hsl(0, 0%, 94%);
  --clr-lightgrey: hsl(0, 0%, 86%);
  --clr-smokegrey: hsl(0, 1%, 44%);
  --clr-offblack: hsl(0, 0%, 8%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--clr-offlight);
}

main {
  width: 840px;
  height: 650px;
  padding: 55px;

  border-radius: 1.4375rem 1.4375rem 12.5rem 1.4375rem;
  background-color: var(--clr-light);
}

.date__inputs-container {
  display: flex;
  gap: 34px;
}

.date__inputs-container div {
  width: 10rem;
  height: 6.25rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* background-color: antiquewhite; */
}

.date__legend {
  color: var(--clr-smokegrey);
  font-size: 0.9rem;
}

.date__input {
  width: 100%;
  padding: 10px 20px;
  font-size: 2rem;
  /* TODO: Find a way to change border color of input */
  /* border-color: var(--clr-smokegrey); */
  border-radius: 10px;
  border-style: solid;
  border-color: var(--clr-offlight);
}

hr {
  /* border: 0; */
  border: 1px solid var(--clr-offlight);
  margin-top: 50px;
}

.date__output-container {
  min-height: calc(100% - 10rem);
  display: flex;
  flex-direction: column;
}

.date__output:nth-child(1) {
  margin-top: auto;
}

.date__output {
  font-size: 6.5rem;
  font-weight: 800;
  line-height: 7rem;
}

.date__answer {
  color: var(--clr-purple);
}

@media screen and (min-width: 1024px) {}