@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
/* font-family: 'Poppins', sans-serif; */

:root {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --clr-red:hsl(0, 78%, 62%);
  --clr-cyan:hsl(180, 62%, 55%);
  --clr-orange:hsl(34, 97%, 64%);
  --clr-blue:hsl(212, 86%, 64%);

  --clr-veryDarkBlue:hsl(234, 12%, 34%);
  --clr-grayishBlue:hsl(229, 6%, 66%);
  --clr-veryLightGray:hsl(0, 0%, 98%);
}

.body {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  height: 100%;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main.feature {
  max-width: 1112px;
  min-height: 770px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.web {display: block;}

.feature__title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature__title {
  font-size: 2.43rem;
  font-weight: 200;
  color: var(--clr-veryDarkBlue);
}

.feature__subtitle {
  line-height: 50px;
  font-size: 2.43rem;
  color: var(--clr-veryDarkBlue);
}

.feature__description {
  max-width: 55ch;
  margin-top: 1.2em;
  line-height: 1.7em;
  font-size: 1.01em;
  color: var(--clr-grayishBlue);
}


/* Feature Cards */
.feature__card-container {
  width: 100%;
  margin-top: 66px;
  display: grid;
  gap: 1.9rem;
  grid-template-columns: repeat(3, minmax(351.67px, 1fr));
  grid-template-rows: repeat(4, 112px);
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2rem;
  box-shadow:
    0px 16.7px 18.5px rgba(0, 0, 0, 0.1),
    0px 133px 148px rgba(0, 0, 0, 0.05)
  ;
  border-radius: 10px;
  overflow: hidden;
}
.card__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}
.card1 {
  grid-column: 2/3;
  grid-row: 1/3;
}
.card2 {
  grid-column: 1/2;
  grid-row: 2/4;
}
.card3 {
  grid-column: 3/4;
  grid-row: 2/4;
}
.card4 {
  grid-column: 2/3;
  grid-row: 3/5;
}
.card1-clr {
  --clr_header: var(--clr-red);
  background-color: var(--clr_header, #232323);
}
.card2-clr {
  --clr_header: var(--clr-cyan);
  background-color: var(--clr_header, #232323);
}
.card3-clr {
  --clr_header: var(--clr-blue);
  background-color: var(--clr_header, #232323);
}
.card4-clr {
  --clr_header: var(--clr-orange);
  background-color: var(--clr_header, #232323);
}

.card > div > h1 {
  font-size: 1.3rem;
  color: var(--clr-veryDarkBlue);
}
.card > div > p {
  margin-top: 10px;
  line-height: 1.5rem;
  font-size: 0.89rem;
  font-weight: 400;
  color: var(--clr-grayishBlue);
}
.card-icon {
  margin-top: auto;
  align-self: flex-end;
}


/* Attribution Section */
.attribution {
  width: 100%;
  height: 3vh;
  padding: 0 20px 0 20px;
  
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #232323;
  color: #fff;
  overflow: hidden;
}
.attribution p {
  font-size: 0.9375rem;
}
.attribution p a { color: deeppink; }
.attribution p a:hover { color: rgb(133, 105, 255); }
.attribution p a:visited { color: rgb(23, 226, 23); }
.attribution p a:visited:hover { color: rgb(229, 253, 125); }

@media (max-width: 1120px) {
  .feature__card-container {grid-template-columns: repeat(2, minmax(351.67px, 1fr));}
  .card1 {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .card2 {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .card3 {
    grid-column: 2/3;
    grid-row: 3/5;
  }
  .card4 {
    grid-column: 1/2;
    grid-row: 3/5;
  }
}

@media (max-width: 770px) {
  .web {display: none;}
  .feature__title {
    margin-top: 6rem;
    font-size: 1.7rem;
  }
  .feature__subtitle {
    line-height: 35px;
    font-size: 1.7rem;
  }
  .feature__description {
    max-width: 55ch;
    margin-top: 1.2em;
    line-height: 1.7em;
    font-size: 1.05em;
  }
  .feature__card-container {
    margin-bottom: 4rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 112px);
  }
  .card1 {
    grid-column: 1;
    grid-row: 3/5;
  }
  .card2 {
    grid-column: 1;
    grid-row: 1/3;
  }
  .card3 {
    grid-column: 1;
    grid-row: 7/9;
  }
  .card4 {
    grid-column: 1;
    grid-row: 5/7;
  }
}