@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/* font-family: 'Inter', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

  --clr-primary: hsl(5, 85%, 63%);
  --clr-secondary: hsl(35, 77%, 62%);

  --clr-offWhite: hsl(36, 100%, 99%);
  --clr-grayishBlue: hsl(233, 8%, 79%);
  --clr-darkGrayishBlue: hsl(236, 13%, 42%);
  --clr-veryDarkBlue: hsl(240, 100%, 5%);

  text-decoration: none;
}

main.body {
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

main.content {
  width: max(1070px);
  height: auto;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40px 1fr auto;
  transition: .3s ease;
  z-index: 1;
}

header {
  width: 100%;
  display: flex;
  align-items: end;
  grid-column: span 3;
}

.header__logo {
  margin-right: auto;
  cursor: pointer;
}
.navbar-btnOpen,
.navbar-btnClose {cursor: pointer;}


.header__link-wrapper {
  width: auto;
  height: 40px;
  display: flex;
  gap: 2.1875rem;
  align-items: center;
  text-decoration: none;
}

.header__link {list-style-type: none;}
.header__link a {color: var(--clr-darkGrayishBlue);}
.header__link a:hover {color: var(--clr-primary);}

.navigation-sidebar {
  width: 100%;
  height: 100vh;
  
  position: absolute;
  top: 0;
  right: -100%;
  background-color: hsla(236, 13%, 42%, 0.3);
  transition: .3s ease;
  z-index: 2;
}
.navigation-content {
  width: 70%;
  height: 100vh;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: end;

  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 3;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-left: 15px;
  line-height: 3rem;
  cursor: pointer;
}
.navbar a {
  font-weight: 400;
  color: black;
  -webkit-tap-highlight-color: transparent;
}

/*! Middle Section */
.featured-news {
  grid-column: span 3;
  height: 500px;
  display: grid;
  gap: 1.8rem;
  grid-template-columns: 1fr 1fr 337.47px;
}

section {
  grid-column: span 2;
  grid-row: span 2;
}

.featured-news__graphic {
  display: block;
  width: 100%;
}
.featured-news__graphic img,
.featured-news__graphic source {
  width: 100%;
}

.featured-news__context {
  margin-top: 1.5rem;
  display: grid;
  gap: 1.8rem;
  grid-template-columns: repeat(auto-fit, minmax(277.47px, 1fr));
  grid-template-rows: 180px;
}

.featured-news__context h1 {
  line-height: 3.4rem;
  font-size: 3.35rem;
  font-weight: 800;
}

.featured-news__context__subtext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
}
.featured-news__context__subtext p {
  line-height: 1.5rem;
  font-size: inherit;
  color: var(--clr-darkGrayishBlue);
}
.featured-news__context__subtext a {
  width: 180px;
  padding-block: 14px;
  font-size: 14px;
  font-weight: 700;
  color: aliceblue;
  letter-spacing: 4px;
  text-align: center;
  background-color: var(--clr-primary);
}

.featured-news__context__subtext a:hover {
  background-color: var(--clr-veryDarkBlue);
}



aside.aside {
  padding: 34px 25px;
  grid-row: span 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--clr-veryDarkBlue);
}

.aside__title {
  font-size: 2.4rem;
  color: var(--clr-secondary);
}

.aside__article {color: aliceblue;}
.aside__article-title {
  margin-top: 25px;
  font-size: 1.22rem;
}
.aside__article-subtitle {
  margin-top: 10px;
  line-height: 1.6rem;
  font-size: 14.5px;
  color: var(--clr-grayishBlue);
}
hr {
  border: none;
  border-top: 1px solid var(--clr-darkGrayishBlue);
  margin-top: 1.5rem;
}

.aside__article:hover > h2 {color: var(--clr-secondary);}



article {
  height: auto;
  margin-block: 20px;
  grid-column: span 3;

  display: grid;
  gap: 1.8rem;
  grid-template-columns: repeat(auto-fit, minmax(337.47px, 1fr));
  grid-template-rows: 125px;
  grid-auto-rows: 125px;
}

.article-wrapper {
  display: flex;
  gap: 1.4rem;
}

.article__img {
  height: 100%;
  transition: .2s;
}

.article__contexts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__contexts h1 {
  font-size: 1.9rem;
  color: var(--clr-grayishBlue);
}
.article__contexts h2 {
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--clr-veryDarkBlue);
}
.article__contexts p {
  font-size: 14.5px;
  line-height: 1.5rem;
  color: var(--clr-darkGrayishBlue);
}

.article-wrapper:hover > .article__img {transform: scale(1.2);}
.article-wrapper:hover > .article__contexts h2 {color: var(--clr-primary);}

.phone {display: none;}
@media screen and (max-width: 550px) {
  .web {display: none;}
  .phone {display: block;}
}

@media (max-width: 1120px) {
  .featured-news__context {grid-template-rows: auto;}
  .featured-news__context__subtext a {margin-top: 1.5rem;}
  footer, .attribution {display: none !important;}
}

@media screen and (max-width: 946px) {
  main.body {
    height: auto;
    padding: 20px 20px;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  main.body-webkit-scrollbar {
    display: none;
  }
  main.content {
    gap: 2rem;
    grid-template-rows: auto;
  }
  header {
    margin-top: 20px;
    align-items: center;
  }
  .header__logo {width: 45px;}
  .featured-news {
    height: auto;
    grid-template-columns: auto;
  }
  .featured-news__context {gap: 1.2rem;}
  .featured-news__context h1 {
    line-height: 2.5rem;
    font-size: 2.4rem;
    font-weight: 800;
  }
  aside.aside {grid-column: span 2;}
  article {
    grid-template-rows: repeat(auto-fit, 125px);
  }
}

/* Attribution Div */
.attribution {
  width: 100%;
  height: 3vh;
  padding: 0 20px 0 20px;
  
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #232323;
  color: #fff;
  overflow: hidden;
}
.attribution p {
  font-size: 0.9375rem;
}
.attribution p a:visited {
  color: rgb(23, 226, 23);
}
