/* font-weight: 400, 700 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);

  --clr-dark: #252525;
  --clr-light: hsl(0, 0%, 100%);
  --clr-primary: hsl(4, 100%, 67%);
  --clr-shade740: hsl(235, 18%, 26%);
  --clr-shade800: hsl(234, 29%, 20%);
  --clr-grey: hsl(231, 7%, 60%);

  --font: 'Roboto', sans-serif;
}

.bold {
  font-family: var(--font);
  font-weight: 700;
}

main.newsletter-sign-up-project {
  width: 100%;
  height: 100dvh;
  position: relative;
  display: block;
  background-color: var(--clr-shade740);
}

.web {display: none;}
.phone {display: block;}

.sign-up-wrapper {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;

  background-color: var(--clr-light);
}

.sign-up__container {
  height: 100%;
  width: 100%;
}
.sign-up__container:nth-child(1) {
  width: 100%;
  height: 70vh;
  padding: 20px 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sign-up__container:nth-child(2) {
  width: 100%;
  height: 30vh;
  background-image: url('../images/illustration-sign-up-mobile.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0 0 15px 15px;
}

/*----- Sign-up form start -----*/
.description__title {
  font: 700 2.5rem var(--font);
}

.description__subtitle {
  font-size: 1rem;
  margin-top: 20px;
  font-weight: 400;
  line-height: 1.5625rem;
}

.description__list {
  position: relative;
  margin-top: 12px;
  list-style-type: none;
}
.description__list li {
  margin-top: 15px;
  padding-left: 38px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.8rem;
}
.description__list li::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2rem;
  height: 2rem;
  background: url('../images/icon-list.svg') no-repeat;
}

/* Sign-Up Form */
.sign-up__info {
  display: flex;
  justify-content: space-between;
}

.sign-up__warning {
  color: red;
}

.sign-up__input-legend {
  margin-top: 45px;
  font-size: 0.75rem;
  font-weight: 700;
}

.sign-up__input {
  position: relative;
  height: 70px;
  margin-top: 10px;
  font-size: 1rem;
  padding-block: 20px;
  padding-inline: 20px;
  border: 1px solid #6d6d6d;
  border-radius: 8px;
}

.sign-up__btn, .success__btn {
  height: 70px;
  width: 100%;
  margin-top: 25px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-light);
  background-color: var(--clr-shade800);
}

.sign-up__btn:hover {
  cursor: pointer;

  /* TODO: Change the background-color to linear-gradient */
  background-color: var(--clr-primary);
}

/* Success Form */
.success-form-wrapper {
  width: 100%;
  height: 100dvh;
  padding: 40px 25px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-color: var(--clr-light);
}

.svg-check {
  margin-top: 100px;
  width: 64px;
  height: 64px;
  transform: translate(-1px, -16px);
  background: url('../images/icon-success.svg') no-repeat;
}

.success-form__title {
  margin-top: 1.875rem;
  font: 700 2.5rem var(--font);
  line-height: 2.5rem;
}

.success-form__subtitle {
  margin-top: 30px;
  line-height: 1.5rem;
  transform: translateY(5px);
}

.success__btn {
  margin-top: auto;
}

@media screen and (min-width: 1024px) {
  .web {display: block;}
  .phone {display: none;}
  main.newsletter-sign-up-project {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sign-up-wrapper {
    width: 58.125rem;
    height: 40rem;
    padding: 1.5625rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-radius: 2.3125rem;
    background-color: var(--clr-light);
  }
  .sign-up__container:nth-child(1) {
    width: calc(100% - 25rem - 25px);
    height: 100%;
    padding-inline: 40px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sign-up__container:nth-child(2) {
    width: 25rem;
    height: 100%;
    background-image: url('../images/illustration-sign-up-desktop.svg');
    background-repeat: no-repeat;
  }

  /*----- Sign-up form start -----*/
  .description__title {
    font: 700 3.5rem var(--font);
  }
  .description__subtitle {
    font-size: 1rem;
  }
  .description__list li {
    margin-top: 15px;
    font-size: 1rem;
    line-height: 1rem;
  }
  .sign-up__btn, .sign-up__input {
    height: 55px;
  }
  .sign-up__btn {
    margin-top: 25px;
  }

  /*----- Sign-up Success -----*/
  .success-form-wrapper {
    width: 31.5rem;
    height: 32.6875rem;
    padding: 65px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    border-radius: 2.3125rem;
    background-color: var(--clr-light);
  }
  .svg-check {
    margin-top: 0;
  }
  .success-form__title {
    margin-top: 0;
    font: 700 3.5rem var(--font);
    line-height: 3.5rem;
  }
  .success-form__subtitle {
    margin-top: 0;
  }
  .success__btn {
    margin-top: 0;
  }

  /* Attribution Div */
  .attribution {
    width: 100%;
    height: 3vh;
    padding: 0 20px 0 20px;
    
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #232323;
    color: #fff;
    overflow: hidden;
  }
  .attribution p {
    font-size: 0.9375rem;
  }
  .attribution p a:visited {
    color: rgb(23, 226, 23);
  }
  .attribution .phone {
    display: none;
  }
}