@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;

  --fontSize-normal: 400;
  --fontSize-big: 700;
  --clr-darkCyan: hsl(185, 75%, 39%);
  --clr-veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
  --clr-darkGrayishBlue: hsl(227, 10%, 46%);
  --clr-darkGray: hsl(0, 0%, 59%);
}

main.profile-card-component {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-inline: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-darkCyan);
  background-image: 
    url("/website-portfolio/images/project-assets/bg-pattern-top.svg"),
    url("/website-portfolio/images/project-assets/bg-pattern-bottom.svg");
  background-repeat: 
    no-repeat,
    no-repeat;
  background-position: 
    right 52vw bottom 35vh,
    left 48vw top 52vh;
  overflow: hidden;
}

/* Background Elements */
.bg-pattern-top, .bg-pattern-bottom {
  position: absolute;
}
.bg-pattern-top {
  width: 978px;
  height: 978px;
  top: -50vh;
  left: -20vw;
  background-image: url('/website-portfolio/images/project-assets/bg-pattern-top.svg');
  z-index: 1;
}
.bg-pattern-bottom {
  width: 978px;
  height: 978px;
  bottom: -50vh;
  right: -20vw;
  background-image: url('/website-portfolio/images/project-assets/bg-pattern-bottom.svg');
  z-index: 1;
}

/* Card */
.profile__card {
  position: relative;
  width: 350px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow:
  0px 0px 3.6px rgba(0, 0, 0, 0.052),
  0px 0px 10px rgba(0, 0, 0, 0.075),
  0px 0px 24.1px rgba(0, 0, 0, 0.098),
  0px 0px 80px rgba(0, 0, 0, 0.15);
  background-color: aliceblue;
  overflow: hidden;
  transition: 0.3s ease;
  z-index: 2;
}
.profile__card:hover {
  transform: scale(1.2);
}
.profile__banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;

  background-image: url('/website-portfolio/images/project-assets/bg-pattern-card.svg');
  z-index: 1;
}
.profile__picture {
  width: 105px;
  height: 105px;
  margin-top: 88px;
  align-self: center;
  border-radius: 50%;
  border: 5px solid white;
  z-index: 2;
}
.profile__name {margin-top: 20px;}
.profile__name,
.profile__stats {
  font-size: 19px;
  color: var(--clr-veryDarkDesaturatedBlue);
}
.profile__age {
  margin-left: 10px;
  font-weight: 400;
  color: var(--clr-darkGrayishBlue);
}
.profile__location {
  margin-top: 8px;
  font-size: 15px;
  font-weight: 400;
  color: var(--clr-darkGrayishBlue);
}
.profile__divider {
  width: 100%;
  height: 0;
  margin-top: 25px;
  border: 0;
  border-top: 1px solid hsla(0, 0%, 59%, 0.2);
}
.profile__info {
  width: 100%;
  margin-top: 25px;
  padding-inline: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.profile__info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__stat-info {
  margin-top: 4px;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 400;
  color: var(--clr-darkGray);
}

/* Attribution */
.attribution {
  width: 100%;
  height: 3vh;
  padding: 0 20px 0 20px;
  
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #232323;
  color: #fff;
  overflow: hidden;
}
.attribution p {
  font-size: 0.9375rem;
}
.attribution p a { color: deeppink; }
.attribution p a:hover { color: rgb(133, 105, 255); }
.attribution p a:visited { color: rgb(23, 226, 23); }
.attribution p a:visited:hover { color: rgb(229, 253, 125); }

@media (max-width: 376px) {
  .attribution {display: none;}
  .bg-pattern-top {
    width: 978px;
    height: 978px;
    top: -50vh;
    left: -200vw;
    background-image: url('/website-portfolio/images/project-assets/bg-pattern-top.svg');
  }
  .bg-pattern-bottom {
    width: 978px;
    height: 978px;
    bottom: -50vh;
    right: -200vw;
    background-image: url('/website-portfolio/images/project-assets/bg-pattern-bottom.svg');
  }
}