* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100dvh;
}

body {
  position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
  -moz-appearance: textfield;
}

/* Attribution Div */
.attribution {
  width: 100%;
  height: 3vh;
  padding: 0 20px 0 20px;
  
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #232323;
  color: #fff;
  overflow: hidden;
}
.attribution p {
  font-size: 0.9375rem;
}
.attribution p a:visited {
  color: rgb(23, 226, 23);
}
